version: '3.8'

services:
  frontend:
    image: baibhav2026/frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    image: baibhav2026/backend:latest
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=password
    depends_on:
      - db

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: password
